
backend/target/
backend/.settings/
backend/.classpath
backend/.project
backend/.factorypath

backend/src/main/resources/application.properties


frontend/node_modules/
frontend/dist/
frontend/dist-ssr
frontend/*.local
frontend/.env
frontend/.env.local


*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*


.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store